body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://i.pinimg.com/736x/02/76/97/02769765e29ca0d18a6651d90f8f7aee.jpg');
  background-size:100% 100%;
  background-attachment:fixed;
  background-repeat:no-repeat;
}
header {
  background-color: E1B3F2;
  color: white;
  padding: 2em;
  text-align: center;
}
section {
  padding: 1.5em;
}
footer {
  text-align: center;
  padding: 1em;
  background-color: #eee;
}
