body {
  margin: 0;
  padding: 0;
  background-image: url('https://wallpaperbat.com/img/81205507-anime-scenery-4k-light-wallpaper.jpg');
  background-size:100% 100%;
  background-attachment:fixed;
  background-repeat:no-repeat;
}
header {
  background-color: #DDA0DD;
  color: #FFFFFF;
  padding: 2em;
  text-align: center;
  font-family: "Brush Script MT", cursive;
}
section {
  padding: 1.5em;
  font-family: "Courier New", monospace;
  font-size: 30px;
  color: #FFFFFF;
}
footer {
  text-align: center;
  padding: 1em;
  background-color: #eee;
}
