body {
  margin: 0;
  padding: 0;
  background-image: url('https://marketplace.canva.com/EAGKYZUC4_Q/1/0/1600w/canva-brown-and-cream-manhwa-anime-study-desk-organizer-desktop-wallpaper-5W6BbMBb-2g.jpg');
  background-size:100% 100%;
  background-attachment:fixed;
  background-repeat:no-repeat;
}
header {
  background-color: beige;
  color: black;
  padding: 2em;
  text-align: center;
  font-family: "Brush Script MT", cursive;
}
section {
  padding: 1.5em;
  font-family: "Courier New", monospace;
  font-size: 20px;
  color: black;
}
h1 {
    font-size: 4ch;
}
p {
    font-size: 20px;
}
footer {
  text-align: center;
  padding: 1em;
  background-color: #eee;
}
